

* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('../img/h.jpg');
    no-repeat;
    background-position: center;
    background-size: cover;
}
.home {
    color: olivedrab;
}

.form-box {
    position: relative;
    width: 600px;
    height: 450px;
    
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h {
    margin-top:50px;
    font-size: 2em;
    color: #fff;
    text-align: center;
}


#create {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: 600;
    margin-bottom:50px;
    color:black;
}

.logout {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

    .logout p  {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size:1.5em;
    }

        .logout p a:hover {
            text-decoration: underline;
        }

@media screen and (max-width: 480px) {
    .form-box {
        width: 100%;
        border-radius: 0px;
    }
}

