@model IEnumerable<MarketWebApp.Models.Entity.Location>

<div class="container">
    <div class="container mt-4" style="padding-bottom: 40px;">
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th colspan="3">Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td colspan="3">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-success">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
