@model MarketWebApp.ViewModel.Product.EditProductViewModel

@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-3">Edit Product</h1>
            </div>
            <div class="modal-body p-3 pt-0 mb-2">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="ID" class="form-control" />
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <label asp-for="Unit" class="control-label"></label>
                            <div class="form-outline mb-4">
                                <select asp-for="Unit" class="form-control" asp-items="ViewBag.Unit">
                                    <option value="kg">kg</option>
                                    <option value="g">g</option>
                                    <option value="piece">piece</option>
                                </select>
                                <span asp-validation-for="Unit" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Detail" class="control-label"></label>
                                <input asp-for="Detail" class="form-control" />
                                <span asp-validation-for="Detail" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Discount" class="control-label"></label>
                                <input asp-for="Discount" class="form-control" />
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Stock" class="control-label"></label>
                                <input asp-for="Stock" class="form-control" />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>
                    </div>



                    <label class="control-label" for="inputGroupFile02">Product Image</label>
                    <div class="row mb-4">
                        <div class="col-2">
                            <div class="form-outline">


                                <img width="40px" height="40px" src="@Url.Content("~/img/product/" + Model.Image)" accept=".png, .jpg, .jpeg" alt="" />

                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-outline">
                                <input asp-for="ProductImage" accept=".png, .jpg, .jpeg" value="@Model.Image" class="form-control">
                                <span asp-validation-for="ProductImage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-4">
                        <div class="col">
                            <label asp-for="CategoryID" class="control-label"></label>
                            <div class="form-outline mb-4">
                                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                <span asp-validation-for="CategoryID" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <label asp-for="SupplierId" class="control-label"></label>
                            <div class="form-outline mb-4">
                                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                                <span asp-validation-for="SupplierId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="d-grid gap-2">
                        <input type="submit" value="Edit" class="btn btn-success rounded-3" />
                        <a class="btn btn-outline-secondary rounded-3" asp-action="Index"> Cancel </a>
                    </div><br />
                    <small class="text-body-secondary">Using the Edit page, you can Edit any Product.</small>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
