@model MarketWebApp.ViewModel.Supplier.AddSupplierViewModel
@{
    ViewData["Title"] = "Add Supplier";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Add New Supplier</h1>
@*                     <a asp-action="Index"><li class="fa fa-close"></li></a>
 *@                </div>
                <hr />

                <div class="modal-body p-3 pt-0 mb-2">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <label asp-for="Name" class="control-label"></label>
                        <div class="form-floating mb-3">
                            <input asp-for="Name" class="form-control rounded-4" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <label asp-for="Phone" class="control-label"></label>
                        <div class="form-floating mb-3">
                            <input asp-for="Phone" class="form-control rounded-4" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <label asp-for="Location" class="control-label"></label>
                        <div class="form-floating mb-3">
                            <input asp-for="Location" class="form-control rounded-4" placeholder="Samalout 13 Akef St" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                      <br />
                        <div class="d-grid gap-2">
                            <input type="submit" value="Create" class="btn btn-outline-success rounded-3" />
                            <a class="btn btn-outline-secondary rounded-3" asp-action="Index"> Cancel </a>
                        </div><br />
                        <small class="text-body-secondary">Using the Create page, you can add an unlimited number of Suppliers.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
